@import url('https://fonts.googleapis.com/css?family=Lemonada');


body, html {
	background-color:  whitesmoke;
    margin: 0;
    padding: 0;
    height: 100%
}

div{
	display: bloc;
	width: 400px;
	margin: auto;
}

h1{
	background-color: purple;
	text-align: center;
	color: white;
	font-family: 'sans-serif;', cursive !important;
	text-transform: uppercase;
}

ul{
	margin:0;
	padding: 0;
}

#completed-tasks span{
	text-decoration: line-through;
	font-size: 1.2em !important;
}